<?xml version="1.0" encoding="utf-8" ?>
<!--
/*
 * @package     Intelipost_Basic
 * @copyright   Copyright (c) 2016 Gamuza Technologies (http://www.gamuza.com.br/)
 * @author      Eneias Ramos de Melo <eneias@gamuza.com.br>
 */
-->

<config>
    <system>
        <tab id="intelipost" translate="label" sortOrder="0">
            <label>Intelipost</label>
        </tab>
        <section id="intelipost_basic" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Basic</label>
            <tab>intelipost</tab>
            <resource>Intelipost_Basic::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="api_url" translate="label comment" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API URL</label>
                    <comment>URL for API</comment>
                </field>
                <field id="api_key" translate="label comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <comment>Key for API</comment>
                </field>
            </group>
        </section>
    </system>
</config>

